

*{
  box-sizing: border-box;
}


*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}



body{
  margin: 0px;
  font-family: "Barlow" , "Arial" , sans-serif;
}



img{
  vertical-align: middle;
}